<div class="events">
  {{#each eventList}}
      <div class="events__event-item">
        <div class="event-item__delete"><i class="fa fa-times" aria-hidden="true"></i></div>
        <a href="/editEvent/{{this.summary}}/{{../userInfo.username}}" style="display:block">
          <div class="event-item__date-title-container">
            <p class="event-item__summary"><span>Title:</span>  {{this.summary}}</p>
            <p class="event-item__date"><span>Date:</span>  {{this.start.date}}</p>
            <p class="event-item__time"><span>Time:</span>  {{this.start.time}}</p>
          </div>
          <p class="event-item__description">{{this.description}}</p>
        </a>
      </div>
  {{else}}
    <div class="no-events-conatiner">
      <p class="no-events-smiley">:)</p>
      <p class="no-envents-message">Looks like you don't have any events.</p>
      <a href="/addEvents/{{userInfo.username}}" class="no-events-conatiner__add-event">Would You Like To Add One?</a>
    </div>
  {{/each}}

  <a href="/addEvents/{{userInfo.username}}"><div class="add-event-btn">&plus;</div></a>

</div>
