
<div class="clothes-list">
  {{#each clothList}}
    <div class="clothes-list__cloth-item">
      <img src="/images/{{this.itemImg}}" alt="" class="cloth-item__img">
      <p class="cloth-item__description"><b>{{this.itemName}}</b><br>for<br><b><i>{{this.eventName}}</i></b></p>
      <input class="cloth-item__check-box" type="checkbox" name="name" value="">
    </div>
    {{else}}
      <div class="no-events-conatiner clothes-list">
        <p class="no-events-smiley">:)</p>
        <p class="no-envents-message">Hey <b>{{userInfo.fname}}</b>, let's help you
            stay prepared for the day! We'll help you stay prepared by keeping track of things you may need. </p>
        <a href="/addEvents/?user={{userInfo.username}}" class="no-events-conatiner__add-event">Let's Start by Adding an event.</a>
      </div>
    {{/each}}
</div>
