<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stylo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="https://use.fontawesome.com/9a7a508367.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
</head>
<body>
  <div class="page-container">
    {{> navmenu}}

    <div class="manage-events-container">
      <div class="manage-events-container__title">All Events</div>
      {{#each eventList}}
        <div class="events__event-item">
          <div class="event-item__date-title-container">
            <p class="event-item__summary"><span>Title:</span>  {{this.summary}}</p>
            <p class="event-item__date"><span>Date:</span>  {{this.start.date}}</p>
            <p class="event-item__time"><span>Time:</span>  {{this.start.time}}</p>
          </div>
          <p class="event-item__description">{{this.description}}</p>

          <div class="event-item-edit-delete">
            <a href="/editEvent/{{this.summary}}/{{../userInfo.username}}">
              <div class="event-item-edit-delete__edit">
                <i class="fa fa-pencil" aria-hidden="true"></i> Edit Event
              </div>
            </a>
            <div class="event-item-edit-delete__delete">
              <i class="fa fa-trash-o" aria-hidden="true"></i> Delete Event
            </div>
          </div>
        </div>
      {{/each}}
    </div>

    <div class="back-finish-container">
      <a href="/loggedin/{{userInfo.username}}"><div class="back-finish-container__back">Back</div></a>
      <a href="/loggedin/{{userInfo.username}}"><div class="back-finish-container__finish">Finished</div></a>
    </div>

  </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/index.js" charset="utf-8"></script>
</body>
</html>
